.country_card {
  border: 1px solid lightgray;
  padding: .75em;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: .75em 0;
  box-shadow: 0 1px 2px lightgray;
  border-radius: 1px;
}

.country_card > img {
  object-fit: cover;
  height: 30%;
  width: 30%;
  margin-right: 1em;
}

.country_card_details {
  flex: 1;

  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.country_card_details > h3 {
  font-weight: 500;
  font-size: 2.25vw;
}

.country_card_details > p {
  font-size: 1.25vw;
}

.country_card_details_buttongrp {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.country_card_details_buttongrp > * {
  color: blue;
  width: 45%;
  text-align: center;
  border: 2px solid blue;
  padding: .25em .5em;
  font-weight: 500;
  font-size: 1.75vw;
}

@media screen and (max-width: 550px) {
  .country_card_details > h3 {
    font-size: 3.5vw;
  }

  .country_card_details > p {
    font-size: 2.5vw;
  }

  .country_card_details_buttongrp > * {
    border: 1px solid blue;
    font-size: 2.75vw;
  }
}