.container {
  width: 75%;
  margin: 0 auto;
}
.main_details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
}

.main_details > img {
  object-fit: cover;
  height: 40vh;
  margin-right: 2em;
}

.main_details > div > p {
  font-size: 1.3vw;
  margin-bottom: .75em;
}

.neighborbox {
  border: 1px solid rgb(163, 163, 163);
  padding: 1em;
  margin-bottom: 1em;
}

.neighborbox > h3 {
  font-size: 2vw;
  font-weight: 600;
  margin-left: 1em;
}

.flagbox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flagbox > img {
  object-fit: cover;
  height: 20vh;
  border: 1px solid lightgray;
  margin-top: 1em;
  cursor: pointer;
  margin: .5em .25em;
}

@media screen and (max-width: 550px) {
  .main_details {
    flex-direction: column;
    align-items: center;
  }

  .main_details > div > p {
    font-size: 3vw;
    margin-bottom: .75em;
  }

  .main_details > div > p:first-child {
    margin-top: .75em;
  }

  .neighborbox > h3 {
    font-size: 3.75vw;
    margin-left: .5em;
  }

  .main_details > img{
    height: 20vh;
  }

  .flagbox > img {
    height: 10vh;
  }
}